body {
    margin: 0px;
    background-color: #ffd5abf0;
}

.up-side {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
}

.down-side {
    background-color: #ffd5abf0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.down-side__title {
    color: black;
    font-size: 40px;
    margin: 10px;
}

.down-side__form-container {
    display: flex;
    align-items: center;
}

.down-side__form-container .down-side__field-to-type {
    width: 400px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: -0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-color: black;
}

.down-side__field-to-type {
    text-indent: 10px;
}

.down-side__form-container .down-side__add-button {
    width: 85px;
    height: 55px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -1px;
    border-style: solid;
    border-color: black
}


button:hover {
    background-color: #ffa953f0;
    cursor:pointer;
}


.down-side__buttons_2 .down-side__draw-button {
    width: 170px;
    height: 50px;
    border-radius: 20px;
}


.down-side__buttons_2 .down-side__reset-button {
    width: 170px;
    height: 50px;
    border-radius: 20px;
}


#down-side__friendList {
    padding: 0 0 0 10px;
}
li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}


#down-side__friendResult {
    font-weight: bolder;
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0 0 0 10px;
    color: red;
}

.about-me {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
}

.about-me__created-by {
    color: black;
    text-decoration: none;
    margin: 0;
}

.about-me__linkedin-icon {
    width: 30px;
    margin-right: 3px;
}

.about-me__github-icon {
    width: 30px;
}