body {
    margin: 0px;
    background-color: #ffd5abf0;
}

.up-side {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
}

.down-side {
    background-color: #ffd5abf0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.down-side__title {
    color: black;
}

.down-side__form-container {
    display: flex;
    align-items: center;
}

.down-side__form-container .down-side__field-to-type {
    width:300px;
    height: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-color: black
}

.down-side__field-to-type {
    text-indent: 10px;
}

.down-side__form-container .down-side__add-button {
    width: 85px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -1px;
    border-style: solid;
    border-color: black
}


.down-side__draw-button {
    margin-top: 25px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
}

.about-me {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
}

.about-me__created-by {
    color: black;
    text-decoration: none;
    margin: 0;
}

.about-me__linkedin-icon {
    width: 30px;
    margin-right: 3px;
}

.about-me__github-icon {
    width: 30px;
}